*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

:root{
    --primary: #00A86B;
}
button{
    cursor: pointer;
}

nav{
    width: 100vw;
    background-color: transparent;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--primary);
    box-shadow:0px 1px 20px 0px #00a86b42;
}
nav .logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
}
nav .search-box{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
nav .search-box .search-input{
    width: 70%;
    height: 70%;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    border-left-width:0 ;
}

nav .search-box .search-icon{
    background-color: var(--primary);
    height: 70%;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .search-box .search-icon img{
    width: 70%;
}

.primary-button{
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    border-width: 0;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}
.secondary-button{
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 10px;
    border-width: 0;
    background-color: white;
    color: var(--primary);
    cursor: pointer;
    border: 3px solid var(--primary);
}
nav .about{
    margin-left: 20px;
}
nav .button{
    align-self: flex-end;
}


@media screen and (max-width:1470px) {
    nav .search-box{
        width: 70%;
    }
}
@media screen and (max-width:1220px) {
    nav .search-box{
        width: 60%;
    }
}
@media screen and (max-width:950px) {
    nav .button .secondary-button{
        opacity:  0;
    }
}
@media screen and (max-width:600px) {
    nav .search-box .search-input{
        width: 100%;
    }
    nav .search-box{
        width: 80%;
    }
    nav .search-box .search-input{
        width: 100%;
    }
    nav .button{
        display: none;
    }
}

/*!! Hover Effect for button */

button:hover{
    box-shadow: 5px 5px 20px 0px #00000030;
    background-color: #01c57d;
}

.secondary-button:hover{
    background-color: transparent;
    border-color: #01c57d;
    color: #01c57d;
}



/*! Styling for Categories Button */


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.majesticons--watch {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5 12a7 7 0 1 1 14 0a7 7 0 0 1-14 0m8-3a1 1 0 1 0-2 0v3a1 1 0 0 0 .553.894l2 1a1 1 0 1 0 .894-1.788L13 11.382z' clip-rule='evenodd'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.45' d='M15 6.5V3a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v3.5m6 11V21a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-3.5'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .tabler--perfume {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.55'%3E%3Cpath d='M10 6v3m4-3v3m-9 2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2z'/%3E%3Cpath d='M10 15a2 2 0 1 0 4 0a2 2 0 1 0-4 0M9 3h6v3H9z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .icon-park-outline--foundation-makeup {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.75' d='M13 19a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v19s0 6-6 6h-8c-6 0-6-6-6-6zm5-7h10v5H18zm0 0V9c0-3 3-5 6-5h11s-7 2-7 6v2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .icon-park-solid--makeups {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23000' stroke-width='3.7'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M44 24c0 11.046-8.954 20-20 20S4 35.046 4 24S12.954 4 24 4'/%3E%3Cpath d='m37.61 9.472l.255.786h.827l-.669.486l.255.786l-.668-.486l-.669.486l.255-.786l-.668-.486h.826z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16 31s2 4 8 4s8-4 8-4'/%3E%3Ccircle cx='17' cy='22' r='3' fill='%23000'/%3E%3Ccircle cx='31' cy='22' r='3' fill='%23000'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .game-icons--pearl-necklace {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M70.184 23.738C55.614 23.738 44 35.35 44 49.91s11.614 26.174 26.184 26.174S96.367 64.47 96.367 49.91S84.753 23.738 70.184 23.738m371.632 0c-14.569 0-26.183 11.612-26.183 26.172s11.614 26.174 26.183 26.174C456.386 76.084 468 64.47 468 49.91s-11.614-26.172-26.184-26.172M70.184 94.084C55.614 94.084 44 105.696 44 120.256s11.614 26.172 26.184 26.172s26.183-11.612 26.183-26.172s-11.614-26.172-26.183-26.172m371.632 0c-14.569 0-26.183 11.612-26.183 26.172s11.614 26.172 26.183 26.172c14.57 0 26.184-11.612 26.184-26.172s-11.614-26.172-26.184-26.172m-354.04 70.344c-14.57 0-26.184 11.614-26.184 26.174s11.614 26.171 26.183 26.171c14.57 0 26.186-11.612 26.186-26.171c0-14.56-11.616-26.174-26.186-26.174zm336.449 0c-14.57 0-26.186 11.614-26.186 26.174s11.616 26.171 26.186 26.171s26.183-11.612 26.183-26.171c0-14.56-11.614-26.174-26.183-26.174M122.96 234.773c-14.57 0-26.186 11.613-26.186 26.172s11.617 26.174 26.186 26.174c14.57 0 26.184-11.614 26.184-26.174s-11.615-26.172-26.184-26.172m266.078 0c-14.57 0-26.184 11.613-26.184 26.172s11.615 26.174 26.184 26.174s26.186-11.614 26.186-26.174s-11.617-26.172-26.186-26.172m-203.406 42.868c-14.57 0-26.186 11.612-26.186 26.171c0 14.56 11.617 26.172 26.186 26.172c14.57 0 26.183-11.612 26.183-26.171c0-14.56-11.614-26.172-26.183-26.172m140.734 0c-14.57 0-26.183 11.612-26.183 26.171c0 14.56 11.614 26.172 26.183 26.172c14.57 0 26.186-11.612 26.186-26.171c0-14.56-11.617-26.172-26.186-26.172M256 295.227c-14.57 0-26.184 11.612-26.184 26.171c0 14.56 11.615 26.174 26.184 26.174s26.184-11.614 26.184-26.174s-11.615-26.171-26.184-26.171m0 70.345c-34 0-61.367 27.359-61.367 61.344s27.366 61.346 61.367 61.346s61.37-27.361 61.37-61.346S290 365.572 256 365.572'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.category{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}


/*! Styling for Product Card And Main */

main{
    width: 90vw;
    margin: auto;
    height: auto;
    padding: 50px 20px;
    background-color: transparent;
    display: flex;
    gap: 20px;
}
.card{
    width: 200px;
    height: 350px;
    background-color: beige;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 12px 11px #0000003b;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0);
}
.card:hover{
    box-shadow: 0px -12px 11px #0000003b;
    border: 1px solid rgba(0, 0, 0, 0.132);
}
.imageSection{
    width: 100%;
    height: 200px;
    background: rgb(229,101,56);
background: linear-gradient(357deg, rgba(229,101,56,1) 5%, rgba(0,212,255,0) 60%);
border-bottom-left-radius: 20px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}

/*! Different colors for Different Products */

.fogg .imageSection{
    background:#532176;
    background: linear-gradient(357deg,#532176 5%, rgba(0,212,255,0) 60%);
}
.fogg .imageSection::after{
    background-color: #532176;
}
.skin-perfect .imageSection{
    background:#532176;
    background: linear-gradient(357deg,#cfb766 5%, rgba(0,212,255,0) 60%);
}
.skin-perfect .imageSection::after{
    background-color: #cfb766;
}

.imageSection::after{
    content: '';
    width: 30px;
    height: 30px;
    background-color:#e56538;
    bottom: -20px;
    right: 0;
    z-index: 0;
    position: absolute;
}
.imageSection img{
    width: 70%;
}
.imageSection .product-name{
    align-self: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: white;
}


.textSection{
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    z-index: inherit;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fake-price{
    text-decoration: line-through;
    width: max-content;
}
.real-price{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px;
}
.discount{
    color: var(--primary);
    font-weight: 600;
    display: inline-block;
}
.buy-button{
    font-size: 1.2rem;
    padding: 5px 20px;
    border-radius: 10px;
    border-width: 0;
    background-color: var(--primary);
    color: white;
}